{"swagger":"2.0","info":{"title":"KYLIN-WEALTH-SERVICE自动化接口文档"},"host":"kylin-wealth-service-alpha.k8s.ppmoney.io:80","basePath":"/","tags":[{"name":"gw-mission-center-service-impl","description":"Gw Mission Center Service Impl"},{"name":"gw-trust-order-service-impl","description":"Gw Trust Order Service Impl"},{"name":"gw-share-service-impl","description":"Gw Share Service Impl"},{"name":"gw-account-service-impl","description":"Gw Account Service Impl"},{"name":"gw-partner-service-impl","description":"Gw Partner Service Impl"},{"name":"gw-trade-service-impl","description":"Gw Trade Service Impl"},{"name":"gw-coupon-service-impl","description":"Gw Coupon Service Impl"},{"name":"gw-organization-service-impl","description":"Gw Organization Service Impl"},{"name":"gw-product-service-impl","description":"Gw Product Service Impl"},{"name":"gw-activity-service-impl","description":"Gw Activity Service Impl"},{"name":"gw-checkin-service-impl","description":"Gw Checkin Service Impl"},{"name":"gw-risk-test-service-impl","description":"Gw Risk Test Service Impl"},{"name":"gw-bank-service-impl","description":"Gw Bank Service Impl"},{"name":"gw-file-service-impl","description":"Gw File Service Impl"},{"name":"gw-letter-service-impl","description":"Gw Letter Service Impl"},{"name":"gw-user-service-impl","description":"Gw User Service Impl"},{"name":"gw-recognition-service-impl","description":"Gw Recognition Service Impl"},{"name":"gw-sms-service-impl","description":"Gw Sms Service Impl"},{"name":"gw-push-service-impl","description":"Gw Push Service Impl"},{"name":"gw-user-login-service-impl","description":"Gw User Login Service Impl"},{"name":"gw-common-service-impl","description":"Gw Common Service Impl"},{"name":"gw-article-service-impl","description":"Gw Article Service Impl"}],"paths":{"/gwAccountService/applyCreateAccount":{"post":{"tags":["gw-account-service-impl"],"summary":"开户校验身份(域：basic)","operationId":"applyCreateAccountUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwApplyCreateAccountReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwApplyCreateAccountResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwAccountService/createAccount":{"post":{"tags":["gw-account-service-impl"],"summary":"开户(域：basic)","operationId":"createAccountUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwCreateAccountReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwCreateAccountResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwAccountService/getAccountBalances":{"post":{"tags":["gw-account-service-impl"],"summary":"获取某个机构号账户余额(域：basic)","operationId":"getAccountBalancesUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetAccountBalancesReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetAccountBalancesResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwAccountService/getAccountInfo":{"post":{"tags":["gw-account-service-impl"],"summary":"根据机构号获取开户信息(域：basic)","operationId":"getAccountInfoUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetAccountInfoReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetAccountInfoResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwAccountService/getAccounts":{"post":{"tags":["gw-account-service-impl"],"summary":"获取用户已开户的所有账户列表(域：basic)","operationId":"getAccountsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetAccountsReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetAccountsResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwAccountService/getInitAccountInfo":{"post":{"tags":["gw-account-service-impl"],"summary":"获取开户中断时已提交的开户信息(域：basic)","operationId":"getInitAccountInfoUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetInitAccountInfoReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetInitAccountInfoResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwAccountService/queryAccountOrderDetails":{"post":{"tags":["gw-account-service-impl"],"summary":"查询用户资金流水接口(域：basic)","operationId":"queryAccountOrderDetailsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwQueryAccountOrderDetailsReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwQueryAccountOrderDetailsResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwAccountService/registerAccount":{"post":{"tags":["gw-account-service-impl"],"summary":"开户注册(域：basic)","operationId":"registerAccountUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwRegisterAccountReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwRegisterAccountResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwActivityService/activityLottery":{"post":{"tags":["gw-activity-service-impl"],"summary":"通用抽奖接口(域：basic)","description":"入参有抽奖id时以抽奖id为准，抽奖id为空时用活动id和任务id查询抽奖id","operationId":"activityLotteryUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwActivityLotteryReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwActivityLotteryResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwActivityService/getActivityInfo":{"post":{"tags":["gw-activity-service-impl"],"summary":"获取活动详情接口","operationId":"getActivityInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwGetActivityInfoReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetActivityInfoResp"}}},"x-gateway-contract":"true"}},"/gwActivityService/getChance":{"post":{"tags":["gw-activity-service-impl"],"summary":"批量获取活动机会(域：basic)","operationId":"getChanceUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwGetChanceReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetChanceResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwActivityService/getRelevantPrizes":{"post":{"tags":["gw-activity-service-impl"],"summary":"获取关联任务的奖品(域：basic)","operationId":"getRelevantPrizesUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetRelevantPrizesResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwArticleService/getArticleDetail":{"post":{"tags":["gw-article-service-impl"],"summary":"获取资讯详情","operationId":"getArticleDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetArticleDetailReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetArticleDetailResp"}}},"x-gateway-contract":"true"}},"/gwArticleService/getArticleList":{"post":{"tags":["gw-article-service-impl"],"summary":"获取资讯列表","operationId":"getArticleListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetArticleListReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetArticleListResp"}}},"x-gateway-contract":"true"}},"/gwBankService/getOrganizationBanks":{"post":{"tags":["gw-bank-service-impl"],"summary":"获取机构支持的银行列表(域：basic)","operationId":"getOrganizationBanksUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetOrganizationBanksReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetOrganizationBanksResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwBankService/modifyBankCard":{"post":{"tags":["gw-bank-service-impl"],"summary":"更换绑定银行卡(域：basic)","operationId":"modifyBankCardUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwModifyBankCardReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwModifyBankCardResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwBankService/modifyBankMobile":{"post":{"tags":["gw-bank-service-impl"],"summary":"更换银行预留手机号(域：basic)","operationId":"modifyBankMobileUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwModifyBankMobileReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwModifyBankMobileResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwBankService/modifyBankMobilePrecheck":{"post":{"tags":["gw-bank-service-impl"],"summary":"更换银行预留手机号前置检查(域：basic)","operationId":"modifyBankMobilePrecheckUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwModifyBankMobilePrecheckReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwModifyBankMobilePrecheckResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwBankService/queryCardBin":{"post":{"tags":["gw-bank-service-impl"],"summary":"查询卡BIN(域：basic)","operationId":"queryCardBinUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwQueryCardBinReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwQueryCardBinResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCheckinService/checkin":{"post":{"tags":["gw-checkin-service-impl"],"summary":"执行用户签到操作(域：basic)","operationId":"checkinUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwCheckinResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCheckinService/dailySurpriseComplete":{"post":{"tags":["gw-checkin-service-impl"],"summary":"每日惊喜完成(域：basic)","operationId":"dailySurpriseCompleteUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCheckinService/getCheckinLogs":{"post":{"tags":["gw-checkin-service-impl"],"summary":"获取用户签到日志(域：basic)","operationId":"getCheckinLogsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwCheckinLogsResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCheckinService/getCheckinStatus":{"post":{"tags":["gw-checkin-service-impl"],"summary":"签到状态(域：basic)","operationId":"getCheckinStatusUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwCheckinStatusResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCheckinService/getLastCheckin":{"post":{"tags":["gw-checkin-service-impl"],"summary":"获取用户最后一次签到信息(域：basic)","operationId":"getLastCheckinUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwCheckinResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCheckinService/luckDraw":{"post":{"tags":["gw-checkin-service-impl"],"summary":"抽奖(域：basic)","operationId":"luckDrawUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwLotteryReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwLotteryResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCommonService/currentTimeMillis":{"post":{"tags":["gw-common-service-impl"],"summary":"获取服务器当前时间（毫秒数）","operationId":"currentTimeMillisUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfCurrentTimeMillisResp"}}},"x-gateway-contract":"true"}},"/gwCouponService/getActivateCode":{"post":{"tags":["gw-coupon-service-impl"],"summary":"获取激活码详情(域：basic)","operationId":"getActivateCodeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwGetActivateCodeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetActivateCodeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCouponService/getActivateCodeList":{"post":{"tags":["gw-coupon-service-impl"],"summary":"获取激活码列表(域：basic)","operationId":"getActivateCodeListUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetActivateCodeListResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCouponService/getParterRewardList":{"post":{"tags":["gw-coupon-service-impl"],"summary":"获取邀请奖励列表(域：basic)","operationId":"getParterRewardListUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetActivateCodeListResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwCouponService/mineAllCouponList":{"post":{"tags":["gw-coupon-service-impl"],"summary":"获取所有优惠券列表(域：basic)","operationId":"mineAllCouponListUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwMineAllCouponListReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwMineAllCouponListResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwFileService/uploadFile":{"post":{"tags":["gw-file-service-impl"],"summary":"上传文件，返回文件连接，不需要入库保存","operationId":"uploadFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwUploadFileReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwUploadFileResp"}}},"x-gateway-contract":"true"}},"/gwLetterService/getLetterListByType":{"post":{"tags":["gw-letter-service-impl"],"summary":"根据站内信类型获取站内信列表(域：basic)","operationId":"getLetterListByTypeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetLetterListByTypeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetLetterListByTypeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwLetterService/getLetterTypeList":{"post":{"tags":["gw-letter-service-impl"],"summary":"获取站内信分类信息","operationId":"getLetterTypeListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetLetterTypeListReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetLetterTypeListResp"}}},"x-gateway-contract":"true"}},"/gwLetterService/getUnreadLetterCountByType":{"post":{"tags":["gw-letter-service-impl"],"summary":"根据类型从SOA服务获取未读站内信数量(域：basic)","operationId":"getUnreadLetterCountByTypeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetUnreadLetterCountByTypeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetUnreadLetterCountByTypeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwLetterService/updateUnreadLetterStatusByType":{"post":{"tags":["gw-letter-service-impl"],"summary":"根据类型更新未读站内信状态(域：basic)","operationId":"updateUnreadLetterStatusByTypeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwUpdateUnreadLetterStatusByTypeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwUpdateUnreadLetterStatusByTypeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwMissionCenterService/draw":{"post":{"tags":["gw-mission-center-service-impl"],"summary":"抽奖(域：basic)","operationId":"drawUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwDrawReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwDrawResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwMissionCenterService/getReceivePrizeQuantity":{"post":{"tags":["gw-mission-center-service-impl"],"summary":"查看待领取的任务数量(域：basic)","operationId":"getReceivePrizeQuantityUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwReceivePrizeQuantityResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwMissionCenterService/missions":{"post":{"tags":["gw-mission-center-service-impl"],"summary":"查询任务中心的任务(域：basic)","operationId":"missionsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwMissionListReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwMissionsResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwOrganizationService/getOrganizationDetail":{"post":{"tags":["gw-organization-service-impl"],"summary":"获取机构信息","operationId":"getOrganizationDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetOrganizationDetailReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetOrganizationDetailResp"}}},"x-gateway-contract":"true"}},"/gwOrganizationService/getOrganizations":{"post":{"tags":["gw-organization-service-impl"],"summary":"获取所有机构列表","operationId":"getOrganizationsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetOrganizationsReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetOrganizationsResp"}}},"x-gateway-contract":"true"}},"/gwPartnerService/getInviteCode":{"post":{"tags":["gw-partner-service-impl"],"summary":"获取邀请码接口(域：basic)","operationId":"getInviteCodeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetInviteCodeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetInviteCodeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwPartnerService/getInviterInfo":{"post":{"tags":["gw-partner-service-impl"],"summary":"获取邀请人信息","operationId":"getInviterInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetInviterInfoReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetInviterInfoResp"}}},"x-gateway-contract":"true"}},"/gwPartnerService/getMyPartner":{"post":{"tags":["gw-partner-service-impl"],"summary":"获取我的合伙人(域：basic)","operationId":"getMyPartnerUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/PagedRequestBase"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetMyPartnerResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwProductService/calcIncome":{"post":{"tags":["gw-product-service-impl"],"summary":"计算收益","operationId":"calcIncomeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwCalcIncomeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwCalcIncomeResp"}}},"x-gateway-contract":"true"}},"/gwProductService/getProductDetail":{"post":{"tags":["gw-product-service-impl"],"summary":"获取项目详情","operationId":"getProductDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetProductDetailReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetProductDetailResp"}}},"x-gateway-contract":"true"}},"/gwProductService/getProducts":{"post":{"tags":["gw-product-service-impl"],"summary":"获取产品列表","operationId":"getProductsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetProductsReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetProductsResp"}}},"x-gateway-contract":"true"}},"/gwPushService/saveId":{"post":{"tags":["gw-push-service-impl"],"summary":"保存极光ID跟用户设备号注册号对应的映射关系","operationId":"saveIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwSaveIdReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwSaveIdResp"}}},"x-gateway-contract":"true"}},"/gwRecognitionService/getTencentH5FaceId":{"post":{"tags":["gw-recognition-service-impl"],"summary":"后台上送腾讯云用户身份信息获取H5faceid(域：basic)","operationId":"getTencentH5FaceIdUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwGetTencentH5FaceIdReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetTencentH5FaceIdResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwRecognitionService/getTencentSign":{"post":{"tags":["gw-recognition-service-impl"],"summary":"申请获取腾讯识别数据(域：basic)","operationId":"getTencentSignUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwGetTencentSignReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetTencentSignResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwRiskTestService/getQuestionnair":{"post":{"tags":["gw-risk-test-service-impl"],"summary":"获取评测问券(域：basic)","operationId":"getQuestionnairUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetQuestionnairReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetQuestionnairResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwRiskTestService/getResult":{"post":{"tags":["gw-risk-test-service-impl"],"summary":"查询评测结果(域：basic)","operationId":"getResultUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwRiskTestResultReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwRiskTestRusultResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwRiskTestService/getRiskType":{"post":{"tags":["gw-risk-test-service-impl"],"summary":"获取风险测评的类型列表(域：basic)","operationId":"getRiskTypeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetRiskTypeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetRiskTypeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwRiskTestService/submitAnswerSheet":{"post":{"tags":["gw-risk-test-service-impl"],"summary":"提交答卷数据(域：basic)","operationId":"submitAnswerSheetUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwSubmitAnswerSheetReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwSubmitAnswerSheetResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwShareService/getWxShareConfig":{"post":{"tags":["gw-share-service-impl"],"summary":"获取微信分享配置","operationId":"getWxShareConfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetWxShareConfigReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetWxShareConfigResp"}}},"x-gateway-contract":"true"}},"/gwShareService/shareSuccess":{"post":{"tags":["gw-share-service-impl"],"summary":"微信分享成功回调接口(域：basic)","operationId":"shareSuccessUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/ShareSuccessReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwSmsService/sendSmsVerifyCode":{"post":{"tags":["gw-sms-service-impl"],"summary":"客户端发请求来获取短信验证码","operationId":"sendSmsVerifyCodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwSendSmsVerifyCodeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwSendSmsVerifyCodeResp"}}},"x-gateway-contract":"true"}},"/gwTradeService/getInvestProductDetail":{"post":{"tags":["gw-trade-service-impl"],"summary":"获取持有资产详情(域：basic)","operationId":"getInvestProductDetailUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/getInvestProductDetailReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetInvestProductDetailResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/getInvestRecords":{"post":{"tags":["gw-trade-service-impl"],"summary":"获取投资记录(域：basic)","operationId":"getInvestRecordsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetInvestRecordReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetInvestRecordResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/getRedeemRecords":{"post":{"tags":["gw-trade-service-impl"],"summary":"获取赎回记录(域：basic)","operationId":"getRedeemRecordsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetRedeemRecordReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetRedeemRecordResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/invest":{"post":{"tags":["gw-trade-service-impl"],"summary":"投资申购(域：basic)","operationId":"investUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwInvestReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwInvestResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/queryProfit":{"post":{"tags":["gw-trade-service-impl"],"summary":"查询理财利息试算接口(域：basic)","operationId":"queryProfitUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwQueryProfitReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwQueryProfitResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/recharge":{"post":{"tags":["gw-trade-service-impl"],"summary":"充值接口(域：basic)","operationId":"rechargeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwRechargeReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwRechargeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/rechargeAndInvest":{"post":{"tags":["gw-trade-service-impl"],"summary":"充值并投资(域：basic)","operationId":"rechargeAndInvestUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwRechargeAndInvestReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwInvestResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/redeem":{"post":{"tags":["gw-trade-service-impl"],"summary":"赎回(域：basic)","operationId":"redeemUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwRedeemReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwRedeemResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/refreshInvestOrder":{"post":{"tags":["gw-trade-service-impl"],"summary":"刷新投资记录(域：basic)","operationId":"refreshInvestOrderUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwRefreshTradeRecordReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwInvestResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/refreshRechargeOrder":{"post":{"tags":["gw-trade-service-impl"],"summary":"刷新充值记录(域：basic)","operationId":"refreshRechargeOrderUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwRefreshTradeRecordReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwRechargeResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/refreshRedeemOrder":{"post":{"tags":["gw-trade-service-impl"],"summary":"刷新赎回记录(域：basic)","operationId":"refreshRedeemOrderUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwRefreshTradeRecordReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwRedeemResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/refreshWithdrawOrder":{"post":{"tags":["gw-trade-service-impl"],"summary":"刷新提现记录(域：basic)","operationId":"refreshWithdrawOrderUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwRefreshTradeRecordReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwWithdrawResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/statsHoldAsset":{"post":{"tags":["gw-trade-service-impl"],"summary":"统计用户持有资产(域：basic)","operationId":"statsHoldAssetUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwStatsHoldAssetReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwStatsHoldAssetResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTradeService/withdraw":{"post":{"tags":["gw-trade-service-impl"],"summary":"提现接口(域：basic)","operationId":"withdrawUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwWithdrawReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwWithdrawResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTrustOrderService/getTrustOrderList":{"post":{"tags":["gw-trust-order-service-impl"],"summary":"获取信托预约列表(域：basic)","operationId":"getTrustOrderListUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetTrustOrderListReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetTrustOrderListResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwTrustOrderService/trustOrderApply":{"post":{"tags":["gw-trust-order-service-impl"],"summary":"trustOrderApply(域：basic)","operationId":"trustOrderApplyUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwTrustOrderApplyReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwTrustOrderApplyResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserLoginService/afterSwiftLogin":{"post":{"tags":["gw-user-login-service-impl"],"summary":"快捷登陆后置验证(域：basic)","operationId":"afterSwiftLoginUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwAfterSwiftLoginReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwAfterSwiftLoginResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserLoginService/checkPhone":{"post":{"tags":["gw-user-login-service-impl"],"summary":"检查手机号是否注册","operationId":"checkPhoneUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwCheckPhoneReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwCheckPhoneResp"}}},"x-gateway-contract":"true"}},"/gwUserLoginService/login":{"post":{"tags":["gw-user-login-service-impl"],"summary":"用户登陆接口","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwLoginReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwLoginResp"}}},"x-gateway-contract":"true"}},"/gwUserLoginService/logout":{"post":{"tags":["gw-user-login-service-impl"],"summary":"注销登录(域：basic)","operationId":"logoutUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GwLogoutReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwLogoutResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserLoginService/modifyLoginPhone":{"post":{"tags":["gw-user-login-service-impl"],"summary":"更换登录手机号(域：basic)","operationId":"modifyLoginPhoneUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwModifyLoginPhoneReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwModifyLoginPhoneResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserLoginService/modifyLoginPhoneApply":{"post":{"tags":["gw-user-login-service-impl"],"summary":"申请更换登录手机号(域：basic)","operationId":"modifyLoginPhoneApplyUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwModifyLoginPhoneApplyReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwModifyLoginPhoneApplyResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserLoginService/register":{"post":{"tags":["gw-user-login-service-impl"],"summary":"注册接口","operationId":"registerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwRegisterReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwRegisterResp"}}},"x-gateway-contract":"true"}},"/gwUserLoginService/thirdLogin":{"post":{"tags":["gw-user-login-service-impl"],"summary":"第三方登录","operationId":"thirdLoginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwThirdLoginReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwThirdLoginResp"}}},"x-gateway-contract":"true"}},"/gwUserService/getCurrentCustomerRegNumber":{"post":{"tags":["gw-user-service-impl"],"summary":"获取登录用户注册号(域：basic)","operationId":"getCurrentCustomerRegNumberUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/RequestBase"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetCurrentCustomerRegNumberResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserService/getMiniIndexData":{"post":{"tags":["gw-user-service-impl"],"summary":"获取我页状态信息(域：basic)","operationId":"getMiniIndexDataUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetMiniIndexDataReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetMiniIndexDataResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserService/getProcessingTips":{"post":{"tags":["gw-user-service-impl"],"summary":"获取处理中的提示","operationId":"getProcessingTipsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetProcessingTipsReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetProcessingTipsResp"}}},"x-gateway-contract":"true"}},"/gwUserService/getUserFeature":{"post":{"tags":["gw-user-service-impl"],"summary":"获取用户维度(域：basic)","operationId":"getUserFeatureUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetUserFeatureReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetUserFeatureResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}},"/gwUserService/getWealthIndexData":{"post":{"tags":["gw-user-service-impl"],"summary":"获取财富首页信息(域：basic)","operationId":"getWealthIndexDataUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/GwGetWealthIndexDataReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseOfGwGetWealthIndexDataResp"}}},"x-gateway-contract":"true","x-required-scope":"basic"}}},"definitions":{"GwCalcIncomeResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"calcIncome":{"type":"string","description":"收益,"}}},"GwLogoutResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"}}},"GwGetTencentH5FaceIdResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"tencentAuthenticate":{"description":"tencentAuthenticate,","$ref":"#/definitions/TencentH5Authenticate"}}},"GwGetChanceResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"chances":{"type":"array","description":"用户的活动机会数,","items":{"type":"integer","format":"int32"}}}},"GwOption":{"type":"object","properties":{"optionId":{"type":"integer","format":"int64","description":"null,"},"score":{"type":"integer","format":"int32","description":"null,"},"seqNum":{"type":"integer","format":"int32","description":"null,"},"title":{"type":"string","description":"null,"},"value":{"type":"string","description":"null,"}}},"ResponseOfGwDrawResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwDrawResp"}}},"GwRiskTestRusultResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"isTest":{"type":"boolean","example":false,"description":"是否评测过,"},"riskDesc":{"type":"string","description":"null,"},"riskLevel":{"type":"integer","format":"int64","description":"风险等级。未测评过null，保守型=100006101,稳健型=100006102;激进型=100006103,"},"riskLevelFlag":{"type":"integer","format":"int32","description":"序号,"},"score":{"type":"integer","format":"int64","description":"得分。没有测评过null，已评测返回评测得分,"}}},"RequestBase":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwGetProductDetailResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetProductDetailResp"}}},"ResponseOfGwGetArticleDetailResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetArticleDetailResp"}}},"GwGetInviterInfoResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"headUrl":{"type":"string","description":"头像,"},"nickName":{"type":"string","description":"昵称,"},"phone":{"type":"string","description":"手机号码,"},"realName":{"type":"string","description":"姓名,"}}},"GwRegisterAccountResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"authenticate":{"type":"object","description":"验证参数,"},"needAuthenticate":{"type":"boolean","example":false,"description":"是否需要验证,"},"requestId":{"type":"string","description":"请求流水号,"},"userNo":{"type":"string","description":"null,"}}},"GwGetArticleDetailReq":{"type":"object","properties":{"id":{"type":"string","description":"资讯id,"},"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwCheckinLogsResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwCheckinLogsResp"}}},"GwModifyBankMobileResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"desc":{"type":"string","description":"更换文案,"},"remark":{"type":"string","description":"备注说明,"},"result":{"type":"boolean","example":false,"description":"结果：true=成功，false=失败,"}}},"GwGetTencentSignReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"GwCheckinResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"chance":{"type":"integer","format":"int32","description":"剩余机会数量,"},"checkined":{"type":"boolean","example":false,"description":"今天是否已经签到,"},"continueDays":{"type":"integer","format":"int32","description":"连续签到的天数,"},"increaseScore":{"type":"integer","format":"int32","description":"本次签到增加积分,"},"lastTime":{"type":"integer","format":"int64","description":"最后一次签到的时间, 标准时间戳,"},"lotteryId":{"type":"integer","format":"int32","description":"抽奖ID,"},"periodContinueDays":{"type":"integer","format":"int32","description":"周期连续签到的天数,"},"receiveMessage":{"type":"string","description":"领取签到礼包后消息提示,"},"signProcess":{"type":"boolean","example":false,"description":"是否执行了签到的流程,"},"totalTimes":{"type":"integer","format":"int32","description":"累计签到的次数，不要求连续,"}}},"GwMineAllCouponListResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"couponListEnd":{"type":"boolean","example":false,"description":"列表是否已加载完毕,"},"list":{"description":"列表数据,","$ref":"#/definitions/CollectionOfCouponAttribute"},"pageIndex":{"type":"integer","format":"int32","description":"第几页,"},"pageSize":{"type":"integer","format":"int32","description":"每页行数,"},"serviceTime":{"type":"integer","format":"int64","description":"服务器时间,"},"total":{"type":"integer","format":"int32","description":"总记录数,"}}},"ResponseOfGwSaveIdResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwSaveIdResp"}}},"GwRechargeAndInvestReq":{"type":"object","required":["investAmount","organization","productId","rechargeAmount","smsVerifyCode"],"properties":{"investAmount":{"type":"number","description":"投资金额,不能为空,最小值:1.0"},"organization":{"type":"string","description":"机构编号,不能为空"},"productId":{"type":"string","description":"产品Id,不能为空"},"rechargeAmount":{"type":"number","description":"充值金额,不能为空"},"requestId":{"type":"string","description":"null,"},"smsVerifyCode":{"type":"string","description":"短信验证码,不能为空,模式正则表达式:^\\d{6}$"}}},"GwGetRiskTypeResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"types":{"type":"object","description":"见测评类型,","additionalProperties":{"type":"string"}}}},"GwTrustOrderModel":{"type":"object","properties":{"amount":{"type":"string","description":"金额,"},"createTime":{"type":"string","description":"创建时间,"},"customerId":{"type":"integer","format":"int32","description":"用户id,"},"id":{"type":"integer","format":"int32","description":"Id,"},"name":{"type":"string","description":"用户名称,"},"phone":{"type":"string","description":"用户手机号,"},"state":{"type":"integer","format":"int32","description":"状态,"}}},"GwGetActivateCodeReq":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","format":"int64","description":"激活码id,不能为空"}}},"GwBriefProductModel":{"type":"object","properties":{"allowPartRedeem":{"type":"boolean","example":false,"description":"是否允许部分赎回,"},"minInvestAmount":{"type":"string","description":"最小投资金额,"},"organization":{"type":"string","description":"机构号,"},"period":{"type":"integer","format":"int32","description":"期限,"},"periodType":{"type":"integer","format":"int32","description":"期限类型(1：天；2：月；3：年),"},"productCode":{"type":"string","description":"产品编号,"},"productDisplayName":{"type":"string","description":"产品展示名称(APP上显示名称),"},"productGroupType":{"type":"integer","format":"int32","description":"产品分类，101：银行存款；201：基金；301：信托,"},"productGroupTypeName":{"type":"string","description":"产品分类，银行存款/基金/信托,"},"productId":{"type":"string","description":"productId,"},"productName":{"type":"string","description":"产品名称，渠道方名称,"},"provider":{"type":"string","description":"渠道,"},"rate":{"type":"string","description":"投资利率,"},"rateDesc":{"type":"string","description":"利率说明描述,"},"status":{"type":"integer","format":"int32","description":"状态（1：停售；2：在售；3：售罄,"},"tag":{"description":"角标,","$ref":"#/definitions/GwProductCornerTag"}}},"ResponseOfGwMissionsResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwMissionsResp"}}},"ResponseOfGwGetActivityInfoResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetActivityInfoResp"}}},"GwGetMyPartnerResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"partners":{"type":"array","description":"好友列表,","items":{"$ref":"#/definitions/GwPartnerInfo"}}}},"GwQueryAccountOrderDetailsReq":{"type":"object","required":["organization","page","pageCount"],"properties":{"organization":{"type":"string","description":"机构编号,不能为空"},"page":{"type":"integer","format":"int32","description":"页码,不能为空"},"pageCount":{"type":"integer","format":"int32","description":"页长,不能为空"},"requestId":{"type":"string","description":"null,"}}},"GwModifyLoginPhoneApplyResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"customerId":{"type":"integer","format":"int32","description":"null,"},"ticket":{"type":"string","description":"null,"}}},"GwWithdrawReq":{"type":"object","required":["organization","smsVerifyCode"],"properties":{"amount":{"type":"number","description":"提现金额,"},"organization":{"type":"string","description":"机构编号,不能为空"},"requestId":{"type":"string","description":"null,"},"smsVerifyCode":{"type":"string","description":"短信验证码,不能为空,模式正则表达式:^\\d{6}$"}}},"GwCreateAccountResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"openType":{"type":"integer","format":"int32","description":"打开方式，1:打开第三方页面，其他不需要打开,"},"requestId":{"type":"string","description":"请求流水号,"},"requestParams":{"type":"object","description":"页面跳转请求参数,","additionalProperties":{"type":"string"}},"status":{"type":"integer","format":"int32","description":"0:失败,10:成功,12:处理中,"},"tradeNo":{"type":"string","description":"交易订单号,"}}},"GwGetTrustOrderListResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"list":{"type":"array","description":"信托预约列表,","items":{"$ref":"#/definitions/GwTrustOrderModel"}}}},"PageContent":{"type":"object","properties":{"content":{"type":"string","description":"内容,"},"name":{"type":"string","description":"内容名称,"}}},"GwGetTencentH5FaceIdReq":{"type":"object","properties":{"authenticate":{"description":"null,","$ref":"#/definitions/Authenticate"},"idNo":{"type":"string","description":"用户身份证号,"},"name":{"type":"string","description":"用户姓名,"},"requestId":{"type":"string","description":"null,"},"sourcePhotoType":{"type":"integer","format":"int32","description":"比对源照片类型.1:水纹正脸照,2:高清正脸照. 不传的话默认为1,"}}},"GwGetInitAccountInfoReq":{"type":"object","properties":{"organization":{"type":"string","description":"机构号,"},"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwGetTrustOrderListResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetTrustOrderListResp"}}},"LotteryPrizeInfo":{"type":"object","properties":{"info":{"type":"string","description":"中奖提示明细,"},"prizeId":{"type":"integer","format":"int32","description":"奖品Id,"},"prizeRange":{"type":"integer","format":"int32","description":"奖品范围,"},"prizeType":{"type":"integer","format":"int32","description":"奖品类型,"}}},"GwGetLetterTypeListResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"list":{"type":"array","description":"分类信息,","items":{"$ref":"#/definitions/GwLetterTypeInfo"}}}},"GwCreateAccountReq":{"type":"object","required":["organization","smsVerifyCode"],"properties":{"organization":{"type":"string","description":"机构编号,不能为空"},"requestId":{"type":"string","description":"null,"},"smsVerifyCode":{"type":"string","description":"短信验证码,不能为空,模式正则表达式:^\\d{6}$"}}},"GwGetUnreadLetterCountByTypeResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"unReadCount":{"type":"integer","format":"int64","description":"返回的未读站内信数量,"}}},"GwGetQuestionnairResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"description":{"type":"string","description":"null,"},"id":{"type":"integer","format":"int64","description":"null,"},"name":{"type":"string","description":"null,"},"subjects":{"type":"array","description":"null,","items":{"$ref":"#/definitions/GwSubject"}}}},"GwCalcIncomeReq":{"type":"object","properties":{"amount":{"type":"string","description":"赎买金额,"},"productId":{"type":"string","description":"项目编号，短码,"},"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwGetAccountBalancesResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetAccountBalancesResp"}}},"GwCheckPhoneResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"enableQuickLogin":{"type":"boolean","example":false,"description":"是否启用快速登录,"},"enableQuickRegistration":{"type":"boolean","example":false,"description":"是否启用快速注册,"},"jumpState":{"type":"integer","format":"int32","description":"跳转标识[null: 未知,0：注册 1：登录],"},"needSlider":{"type":"boolean","example":false,"description":"是否需要滑动验证码,"},"noPassword":{"type":"boolean","example":false,"description":"是否未设置密码,"}}},"GwGetProductsResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"organizations":{"type":"array","description":"null,","items":{"$ref":"#/definitions/GwOrganizationModel"}},"pageCode":{"type":"string","description":"pageCode,"},"pageId":{"type":"integer","format":"int32","description":"pageId,"},"products":{"type":"object","description":"模块列表.模块id为key,标列表为value,","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/GwBriefProductModel"}}}}},"GwSaveIdReq":{"type":"object","required":["cipherText"],"properties":{"cipherText":{"type":"string","description":"加密好的JSON串，加密前的JSON格式：[Integer ostype,String deviceid,String pushid],不能为空"},"requestId":{"type":"string","description":"null,"}}},"GwGetChanceReq":{"type":"object","properties":{"activityIdList":{"type":"array","description":"活动ID列表,","items":{"type":"integer","format":"int32"}}}},"GwGetWealthIndexDataResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"metaDatas":{"type":"object","description":"元数据,","additionalProperties":{"type":"string"}},"unReadMessage":{"type":"integer","format":"int32","description":"未读站内信,"}}},"GwGetOrganizationBanksResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"banks":{"type":"array","description":"支持的银行列表,","items":{"$ref":"#/definitions/GwBankInfoModel"}}}},"GwDrawReq":{"type":"object","properties":{"activityId":{"type":"string","description":"活动Id,"},"missionId":{"type":"string","description":"任务Id,"},"prizeRange":{"type":"integer","format":"int32","description":"奖品类别,"},"requestId":{"type":"string","description":"null,"}}},"GwGetProductDetailReq":{"type":"object","required":["appKey","productId"],"properties":{"appKey":{"type":"string","description":"CMS的Appkey,不能为空,模式正则表达式:^\\w{8}$"},"productId":{"type":"string","description":"产品Id短码,不能为空"},"requestId":{"type":"string","description":"null,"}}},"PairOfstringAndstring":{"type":"object","properties":{"first":{"type":"string","description":"null,"},"second":{"type":"string","description":"null,"}}},"GwGetOrganizationBanksReq":{"type":"object","properties":{"organization":{"type":"string","description":"机构号,"},"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwGetInvestRecordResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetInvestRecordResp"}}},"GwGetActivityInfoReq":{"type":"object","required":["activityId"],"properties":{"activityId":{"type":"string","description":"活动id,不能为空"},"requestId":{"type":"string","description":"null,"}}},"getInvestProductDetailReq":{"type":"object","properties":{"investTradeNo":{"type":"string","description":"投资订单号,"},"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwAfterSwiftLoginResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwAfterSwiftLoginResp"}}},"GwGetAccountBalancesResp":{"type":"object","properties":{"accountList":{"type":"array","description":"账户信息,","items":{"$ref":"#/definitions/GwAccountModel"}},"act":{"type":"integer","format":"int32","description":"null,"},"requestId":{"type":"string","description":"请求流水号,"},"totalBalance":{"type":"string","description":"总余额,"}}},"ResponseOfGwRegisterResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwRegisterResp"}}},"GwGetAccountInfoResp":{"type":"object","properties":{"account":{"description":"账户详情,","$ref":"#/definitions/GwAccountModel"},"act":{"type":"integer","format":"int32","description":"null,"},"requestId":{"type":"string","description":"请求流水号,"}}},"GwLotteryReq":{"type":"object","properties":{"lotteryId":{"type":"integer","format":"int32","description":"抽奖ID,"},"requestId":{"type":"string","description":"null,"}}},"GwModifyBankCardReq":{"type":"object","properties":{"authenticate":{"description":"null,","$ref":"#/definitions/Authenticate"},"bankCardNo":{"type":"string","description":"新卡卡号,"},"bankCode":{"type":"string","description":"新卡对应的银行编号,"},"mobile":{"type":"string","description":"新卡对应的银行预留手机号,"},"organization":{"type":"string","description":"机构编号,"},"requestId":{"type":"string","description":"null,"},"smsCode":{"type":"string","description":"绑卡的短信校验码,"}}},"ResponseOfGwTrustOrderApplyResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwTrustOrderApplyResp"}}},"GwGetInviteCodeResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"inviteCode":{"type":"string","description":"邀请码,"}}},"ResponseOfGwGetOrganizationsResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetOrganizationsResp"}}},"ResponseOfGwGetRiskTypeResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetRiskTypeResp"}}},"ArticleInfo":{"type":"object","properties":{"author":{"type":"string","description":"作者,"},"content":{"type":"string","description":"内容,"},"createTime":{"type":"string","format":"date-time","description":"时间,"},"id":{"type":"string","description":"资讯id,"},"images":{"type":"array","description":"图片集合,","items":{"type":"string"}},"module":{"type":"string","description":"模块,"},"tag":{"type":"string","description":"标签,"},"title":{"type":"string","description":"标题,"},"url":{"type":"string","description":"跳转链接,"}}},"ResponseOfGwWithdrawResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwWithdrawResp"}}},"ResponseOfGwRiskTestRusultResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwRiskTestRusultResp"}}},"GwActivityModelExtend":{"type":"object","properties":{"banner":{"type":"string","description":"banner,"},"content":{"type":"array","description":"内容项,","items":{"$ref":"#/definitions/GwPageContent"}},"link":{"type":"string","description":"链接,"},"usingTitle":{"type":"boolean","example":false,"description":"是否显示标题,"}}},"GwGetProcessingTipsResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"tips":{"type":"array","description":"null,","items":{"type":"string"}}}},"GwImageInfoModel":{"type":"object","required":["type"],"properties":{"fileBase64Data":{"type":"string","description":"文件的base64数据,"},"fileUrl":{"type":"string","description":"文件地址，不能为空,"},"type":{"type":"integer","format":"int32","description":"11-> 身份证正面,12-> 身份证反面,不能为空"}}},"Authenticate":{"type":"object","properties":{"value":{"type":"string","description":"null,"}}},"ResponseOfGwGetChanceResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetChanceResp"}}},"GwMissionModel":{"type":"object","properties":{"beginDate":{"type":"string","description":"起始时间,"},"content":{"type":"array","description":"扩展内容,","items":{"$ref":"#/definitions/GwPageContent"}},"cycleCount":{"type":"integer","format":"int32","description":"周期内可完全任务次数:0 = 无限次；n = n次,"},"cycleType":{"type":"integer","format":"int32","description":"周期类型：0 = 活动期间为周期；1 = 每天；2 = 每周；3 = 每月,"},"endDate":{"type":"string","description":"结束时间,"},"exchangeType":{"type":"integer","format":"int32","description":"兑换类型,"},"id":{"type":"string","description":"任务Id,"},"lotteryId":{"type":"integer","format":"int32","description":"抽奖领奖活动Id,"},"lotteryInfo":{"type":"string","description":"抽奖信息,"},"mid":{"type":"integer","format":"int32","description":"任务短码,"},"rewardVersion":{"type":"integer","format":"int32","description":"奖品版本号,"},"rewards":{"type":"array","description":"奖品,","items":{"$ref":"#/definitions/GwRewardModel"}},"sortId":{"type":"integer","format":"int32","description":"排序Id,"},"subTitle":{"type":"string","description":"副标题,"},"title":{"type":"string","description":"任务标题,"},"visible":{"type":"boolean","example":false,"description":"是否可见,"}}},"GwGetInvestRecordResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"lastId":{"type":"integer","format":"int32","description":"最后的id,"},"records":{"type":"array","description":"投资记录,","items":{"$ref":"#/definitions/GwInvestRecord"}}}},"GwAfterSwiftLoginResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"validatedType":{"type":"integer","format":"int32","description":"验证结果.0:正常,1:非安全设备,"}}},"ResponseOfGwGetInviteCodeResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetInviteCodeResp"}}},"GwTrustOrderApplyReq":{"type":"object","required":["amount","name","organization","phone","smsVerifyCode"],"properties":{"amount":{"type":"string","description":"金额,不能为空,最小长度:1.0,最大长度:1.0E9"},"name":{"type":"string","description":"姓名,不能为空"},"organization":{"type":"string","description":"机构编号,不能为空"},"phone":{"type":"string","description":"手机号码,不能为空"},"requestId":{"type":"string","description":"null,"},"smsVerifyCode":{"type":"string","description":"短信验证码,不能为空,模式正则表达式:^\\d{6}$"}}},"ResponseOfGwCheckinResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwCheckinResp"}}},"GwUploadFileResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"fileUrl":{"type":"string","description":"文件地址,"}}},"GwLogoutReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"GwUploadFileReq":{"type":"object","properties":{"file":{"type":"file","description":"文件,"}}},"GwRiskTestResultReq":{"type":"object","properties":{"questionnairId":{"type":"integer","format":"int64","description":"null,"},"requestId":{"type":"string","description":"null,"},"type":{"type":"integer","format":"int64","description":"null,"}}},"GwGetQuestionnairReq":{"type":"object","properties":{"questionnairId":{"type":"integer","format":"int64","description":"null,"},"regnum":{"type":"string","description":"null,"},"requestId":{"type":"string","description":"null,"},"type":{"type":"integer","format":"int64","description":"null,"}}},"ResponseOfGwQueryProfitResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwQueryProfitResp"}}},"GwModifyBankMobilePrecheckReq":{"type":"object","required":["organization"],"properties":{"mobile":{"type":"string","description":"新银行预留手机号,"},"organization":{"type":"string","description":"机构编号,不能为空"},"requestId":{"type":"string","description":"null,"}}},"GwSubMissionRewardVO":{"type":"object","properties":{"colorCode":{"type":"string","description":"颜色,"},"instruction":{"type":"array","description":"使用说明,","items":{"type":"string"}},"missionType":{"type":"integer","format":"int32","description":"任务类型 1登录 2注册 3开户 4风测 5充值 6分享 7投资 8续期 9签到,"},"prizeType":{"type":"integer","format":"int32","description":"奖品类型,"},"rewardArgs":{"type":"string","description":"奖品参数,"},"showTitle":{"type":"string","description":"礼品标题,"}}},"ResponseOfGwModifyBankMobilePrecheckResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwModifyBankMobilePrecheckResp"}}},"ResponseOfGwCreateAccountResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwCreateAccountResp"}}},"ResponseOfGwGetOrganizationBanksResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetOrganizationBanksResp"}}},"GwMissionsResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"missionDTOList":{"type":"array","description":"任务列表,","items":{"$ref":"#/definitions/GwCenterMissionDTO"}}}},"GwInvestResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"amount":{"type":"string","description":"投资金额,"},"desc":{"type":"string","description":"针对状态【status=11,12】的情况进行文案返回,"},"expectProfit":{"type":"string","description":"预期收益,"},"id":{"type":"integer","format":"int32","description":"投资订单id,"},"openType":{"type":"integer","format":"int32","description":"打开方式，1:打开第三方页面，其他不需要打开,"},"profitBeginDate":{"type":"string","description":"开始计息日期,"},"profitEndDate":{"type":"string","description":"计息结束日期,"},"requestId":{"type":"string","description":"请求流水号,"},"requestParams":{"type":"object","description":"页面跳转请求参数,","additionalProperties":{"type":"string"}},"status":{"type":"integer","format":"int32","description":"充值状态（0-初始化，10-成功，11-失败，12-处理中）,"},"successDesc":{"type":"string","description":"成功的说明,"},"successMessage":{"type":"string","description":"成功的标题,"},"tradeNo":{"type":"string","description":"交易订单号,"}}},"GwProductInfoModel":{"type":"object","properties":{"allowPartRedeem":{"type":"boolean","example":false,"description":"是否允许部分退出,"},"groupType":{"type":"integer","format":"int32","description":"产品分组类型，101：银行存款；201：基金；301：信托,"},"incomeType":{"type":"integer","format":"int32","description":"计息类型，1：智慧存；2：如意存,"},"increaseAmount":{"type":"integer","format":"int32","description":"递增金额,"},"minAmount":{"type":"number","description":"最小起投金额,"},"organization":{"type":"string","description":"机构编号,"},"organizationLogo":{"type":"string","description":"机构Logo,"},"organizationMobile":{"type":"string","description":"机构联系电话,"},"organizationName":{"type":"string","description":"机构名称,"},"period":{"type":"integer","format":"int32","description":"期限,"},"periodType":{"type":"integer","format":"int32","description":"期限类型(1：天；2：月；3：年),"},"productCode":{"type":"string","description":"项目名称,"},"productDisplayName":{"type":"string","description":"产品展示名称,"},"productExtendInfo":{"description":"产品扩展信息,","$ref":"#/definitions/GwProductExtendInfoModel"},"productId":{"type":"string","description":"产品id,"},"productLabels":{"type":"string","description":"产品标签,"},"productName":{"type":"string","description":"项目名称,"},"rate":{"type":"string","description":"利率,"},"status":{"type":"integer","format":"int32","description":"状态(1：停售；2：在售；3：售罄),"},"tag":{"description":"角标,","$ref":"#/definitions/GwProductCornerTag"}}},"GwGetInvestProductDetailResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"amount":{"type":"string","description":"投资金额,"},"interestAccrualTimeDesc":{"type":"string","description":"计息时间描述,"},"investId":{"type":"integer","format":"int32","description":"投资id,"},"nextRelayTimeDesc":{"type":"string","description":"本期接力期文案,"},"productId":{"type":"string","description":"项目id,"},"productInfo":{"description":"项目信息,","$ref":"#/definitions/GwProductInfoModel"},"profitBeginDate":{"type":"string","description":"计息开始时间,"},"projectDetails":{"type":"array","description":"项目明细（前端遍历key,value即可）,","items":{"$ref":"#/definitions/PairOfstringAndstring"}},"receivedIncome":{"type":"string","description":"已收收益,"},"receivedIncomeLabel":{"type":"string","description":"已收收益描述,"},"remainAmount":{"type":"string","description":"持有金额,"},"remainAmountLabel":{"type":"string","description":"持久金额描述,"},"totalIncome":{"type":"string","description":"累计收益,"},"totalIncomeLabel":{"type":"string","description":"累计收益描述,"},"tradeNo":{"type":"string","description":"投资订单号,"},"waitIncome":{"type":"string","description":"待收收益,"},"waitIncomeLabel":{"type":"string","description":"待收收益描述,"}}},"GwBaseAccountModel":{"type":"object","properties":{"bankAccNo":{"type":"string","description":"银行二类户账号,"},"bankCardNo":{"type":"string","description":"银行卡号,"},"bankPhone":{"type":"string","description":"银行卡预留手机号,"},"idCardNo":{"type":"string","description":"证件号码,"},"idCardType":{"type":"integer","format":"int32","description":"证件类型,"},"name":{"type":"string","description":"姓名,"}}},"GwSubmitAnswerSheetReq":{"type":"object","properties":{"answerSheet":{"type":"string","description":"问卷内容,"},"type":{"type":"integer","format":"int64","description":"类型,"}}},"GwProductGroupStats":{"type":"object","properties":{"groupType":{"type":"integer","format":"int32","description":"资产分组类型,"},"groupTypeName":{"type":"string","description":"资产分组名称,"},"holdAsset":{"type":"string","description":"持有资产,"},"income":{"type":"string","description":"收益,"},"investProcessingTips":{"type":"string","description":"投资处理中提醒,"},"redeemProcessingTips":{"type":"string","description":"赎回处理中提醒,"}}},"ResponseOfGwApplyCreateAccountResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwApplyCreateAccountResp"}}},"GwGetWxShareConfigResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"appId":{"type":"string","description":"null,"},"debug":{"type":"boolean","description":"null,"},"jsApiList":{"type":"array","description":"null,","items":{"type":"string"}},"nonceStr":{"type":"string","description":"null,"},"signature":{"type":"string","description":"null,"},"timestamp":{"type":"integer","format":"int64","description":"null,"}}},"GwLetterModel":{"type":"object","properties":{"beenRead":{"type":"boolean","example":false,"description":"是否已读,"},"conciseContent":{"type":"string","description":"站内信内容，不含复文本标签,"},"customerId":{"type":"integer","format":"int32","description":"用户id,"},"endTime":{"type":"integer","format":"int64","description":"结束时间,"},"imageUrl":{"type":"string","description":"图片地址,"},"jumpUrl":{"type":"string","description":"跳转地址,"},"letterContent":{"type":"string","description":"站内信内容,"},"letterId":{"type":"integer","format":"int64","description":"id,"},"letterTitle":{"type":"string","description":"站内信的title,"},"letterType":{"type":"integer","format":"int32","description":"站内信类型,"},"sendTime":{"type":"integer","format":"int64","description":"发送时间,"},"startTime":{"type":"integer","format":"int64","description":"开始时间,"}}},"ResponseOfGwLogoutResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwLogoutResp"}}},"ResponseOfGwQueryCardBinResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwQueryCardBinResp"}}},"GwGetUserFeatureReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"CouponAttribute":{"type":"object","properties":{"amountLimited":{"type":"integer","format":"int32","description":"券金额限制,"},"colorCode":{"type":"string","description":"颜色,"},"couponAmount":{"type":"string","description":"券金额值,"},"couponDays":{"type":"integer","format":"int32","description":"券有效天数，对超级加息券有效,"},"couponExpireStatus":{"type":"string","description":"券到期状态说明,"},"couponInstruction":{"type":"array","description":"券使用说明,","items":{"type":"string"}},"couponName":{"type":"string","description":"券名,"},"couponStatus":{"type":"integer","format":"int32","description":"券状态,"},"couponType":{"type":"integer","format":"int32","description":"券类型,"},"couponValue":{"type":"string","description":"券展示值，加息利率 | 体验金值,"},"dayLimited":{"type":"integer","format":"int32","description":"券时间限制,"},"expireTime":{"type":"string","description":"到期时间描述,"},"expireTimeMillis":{"type":"integer","format":"int64","description":"到期时间戳,"},"id":{"type":"string","description":"null,"},"unit":{"type":"string","description":"单位,"}}},"GwRedeemResp":{"type":"object","properties":{"accountingTime":{"type":"string","description":"预计到账时间,"},"act":{"type":"integer","format":"int32","description":"null,"},"amount":{"type":"number","description":"赎回金额,"},"desc":{"type":"string","description":"赎回文案,"},"openType":{"type":"integer","format":"int32","description":"打开方式，1:打开第三方页面，其他不需要打开,"},"profit":{"type":"number","description":"收益,"},"requestId":{"type":"string","description":"请求流水号,"},"requestParams":{"type":"object","description":"页面跳转请求参数,","additionalProperties":{"type":"string"}},"status":{"type":"integer","format":"int32","description":"状态（10-成功，11-失败，12-处理中）,"},"tradeNo":{"type":"string","description":"交易订单号,"}}},"GwModifyLoginPhoneApplyReq":{"type":"object","required":["phone"],"properties":{"phone":{"type":"string","description":"新手机号,不能为空"}}},"GwDrawResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"chances":{"type":"integer","format":"int32","description":"机会池机会数,"},"errMsg":{"type":"string","description":"错误信息,"},"extend":{"type":"string","description":"页面扩展属性,"},"info":{"type":"string","description":"中奖明细,"},"prizeRange":{"type":"integer","format":"int32","description":"奖品范围,"},"prizes":{"type":"array","description":"多个中奖奖品信息,","items":{"$ref":"#/definitions/GwLotteryPrizeInfo"}},"state":{"type":"integer","format":"int32","description":"结果枚举,"},"storeCount":{"type":"integer","format":"int32","description":"剩余库存数,"},"success":{"type":"boolean","example":false,"description":"抽奖是否成功,"}}},"GwGetActivateCodeListResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"list":{"type":"array","description":"列表数据,","items":{"$ref":"#/definitions/ActivateCodeModel"}},"serviceTime":{"type":"integer","format":"int64","description":"服务器时间,"}}},"ResponseOfGwRechargeResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwRechargeResp"}}},"TencentAuthenticate":{"type":"object","properties":{"apiVersion":{"type":"string","description":"后台api接口版本号(不是SDK的版本号),默认请填写@\"1.0.0\","},"nonce":{"type":"string","description":"满足接入要求的32位随机数,"},"orderNo":{"type":"string","description":"每次认证请求的唯一订单号: 建议为32位字符串(不超过32位),"},"sign":{"type":"string","description":"满足接入要求的40位签名值,"},"userid":{"type":"string","description":"用户唯一标识, 由合作方自行定义,"},"webankAppId":{"type":"string","description":"每次认证请求的唯一订单号: 建议为32位字符串(不超过32位),"}}},"ResponseOfGwGetActivateCodeListResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetActivateCodeListResp"}}},"GwCenterMissionDTO":{"type":"object","properties":{"beginDate":{"type":"string","description":"任务开始时间,"},"completed":{"type":"boolean","example":false,"description":"是否已完成该任务,"},"content":{"type":"array","description":"内容项,","items":{"$ref":"#/definitions/PageContent"}},"createDate":{"type":"string","format":"date-time","description":"活动创建时间,"},"cycleType":{"type":"integer","format":"int32","description":"周期类型 0-整个活动周期 1-每天 2-每周 3-每月,"},"endDate":{"type":"string","description":"任务结束时间,"},"exchangeType":{"type":"integer","format":"int32","description":"领取类型,"},"giftpackages":{"type":"array","description":"奖品列表,","items":{"$ref":"#/definitions/GwMissionGiftPackageDTO"}},"id":{"type":"string","description":"活动id,"},"levelLimit":{"type":"integer","format":"int32","description":"任务等级限制，0-6,"},"link":{"type":"string","description":"去做任务跳转链接,"},"missionBelong":{"type":"integer","format":"int32","description":"任务所属 0-新用户专享 1-老用户专享,"},"missionCode":{"type":"string","description":"任务编码,"},"missionConditions":{"type":"array","description":"任务完成条件,","items":{"$ref":"#/definitions/GwMissionConditionDTO"}},"missionExpireTime":{"type":"string","description":"任务过期时间，仅当missionTag为限时活动时有作用,"},"missionIcon":{"type":"string","description":"任务图标,"},"missionTag":{"type":"integer","format":"int32","description":"任务标签 0-无 1-火热任务 2-推荐任务 3-限时任务 4-每日任务 5-成长任务 6-签到页推荐任务,"},"receiveDate":{"type":"string","format":"date-time","description":"领奖时间,"},"receiveRewardMessage":{"type":"string","description":"领取奖励文案,"},"received":{"type":"boolean","example":false,"description":"是否已领取奖励,"},"sortId":{"type":"integer","format":"int32","description":"排序id，数值越大优先级越高,"},"subTitle":{"type":"string","description":"任务简介,"},"successJump":{"type":"boolean","example":false,"description":"完成后是否点击跳转,"},"successLink":{"type":"string","description":"任务完成后跳转链接,"},"title":{"type":"string","description":"任务标题,"},"warmUpBeginDate":{"type":"string","description":"预热开始时间,"}}},"GwGetProcessingTipsReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"GwModifyBankMobilePrecheckResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"precheckResult":{"type":"boolean","example":false,"description":"更换银行预留手机号前置检查结果：true=通过，false=不通过,"}}},"ShareSuccessReq":{"type":"object","properties":{"channel":{"type":"string","description":"分享至的渠道,"},"platform":{"type":"string","description":"分享端,"},"url":{"type":"string","description":"分享链接,模式正则表达式:^http(s)?://([\\w-]+\\.)+[\\w-]+(/[\\w- ./?%&=#\\$]*)?$"}}},"GwGetAccountsReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwGetTencentH5FaceIdResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetTencentH5FaceIdResp"}}},"GwRechargeReq":{"type":"object","required":["amount","organization","smsVerifyCode"],"properties":{"amount":{"type":"number","description":"充值金额,不能为空,最小值:1.0"},"organization":{"type":"string","description":"机构编号,不能为空"},"requestId":{"type":"string","description":"null,"},"smsVerifyCode":{"type":"string","description":"短信验证码,不能为空,模式正则表达式:^\\d{6}$"}}},"ResponseOfGwGetQuestionnairResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetQuestionnairResp"}}},"GwGetTrustOrderListReq":{"type":"object","properties":{"lastId":{"type":"integer","format":"int32","description":"最后Id,"},"pageCount":{"type":"integer","format":"int32","description":"页长,"},"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwGetAccountInfoResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetAccountInfoResp"}}},"GwQueryProfitResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"profit":{"type":"string","description":"收益金额,"},"total":{"type":"string","description":"总收益【profit+amount】,"}}},"ResponseOfGwGetInitAccountInfoResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetInitAccountInfoResp"}}},"ResponseOfGwLotteryResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwLotteryResp"}}},"ResponseOfGwModifyBankMobileResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwModifyBankMobileResp"}}},"GwRegisterAccountReq":{"type":"object","required":["bankAccountNo","bankCode","bankMobile","organization"],"properties":{"bankAccountNo":{"type":"string","description":"绑定银行卡号,不能为空"},"bankCode":{"type":"string","description":"绑定银行卡号,不能为空"},"bankMobile":{"type":"string","description":"绑定银行预留手机号,不能为空"},"organization":{"type":"string","description":"机构编号,不能为空"},"requestId":{"type":"string","description":"null,"}}},"GwThirdLoginReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"},"thirdAccountId":{"type":"string","description":"第三方账号,"},"thirdAppId":{"type":"string","description":"登录来源Id,"},"thirdType":{"type":"string","description":"登录来源类型,"}}},"GwTrustOrderApplyResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"id":{"type":"integer","format":"int32","description":"id,"}}},"GwApplyCreateAccountReq":{"type":"object","required":["idCardEndDate","idCardNo","idCardStartDate","idCardType","realName"],"properties":{"authenticate":{"description":"null,","$ref":"#/definitions/Authenticate"},"idCardEndDate":{"type":"string","description":"证件有效期至,不能为空"},"idCardNo":{"type":"string","description":"证件类型,不能为空"},"idCardSignOrg":{"type":"string","description":"证件签发机关,"},"idCardStartDate":{"type":"string","description":"证件有效期从,不能为空"},"idCardType":{"type":"string","description":"证件类型 1:身份证,2:户口本,3:护照...,不能为空"},"images":{"type":"array","description":"证件图片集合,","items":{"$ref":"#/definitions/GwImageInfoModel"}},"organization":{"type":"string","description":"机构编号,"},"realName":{"type":"string","description":"真实姓名,不能为空"},"requestId":{"type":"string","description":"null,"}}},"GwQueryCardBinResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"bankInfo":{"description":"银行卡号信息,","$ref":"#/definitions/GwBankInfoModel"}}},"ResponseOfGwCheckPhoneResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwCheckPhoneResp"}}},"GwPartnerInfo":{"type":"object","properties":{"createDate":{"type":"string","description":"加入时间,"},"customerId":{"type":"integer","format":"int32","description":"客户Id,"},"name":{"type":"string","description":"名称,"},"phone":{"type":"string","description":"手机号,"},"photoUrl":{"type":"string","description":"头像,"}}},"GwActivityLotteryReq":{"type":"object","properties":{"activityId":{"type":"string","description":"活动id,"},"lotteryId":{"type":"integer","format":"int32","description":"抽奖id,"},"missionId":{"type":"string","description":"任务Id,"},"prizeRange":{"type":"integer","format":"int32","description":"奖品类别,"},"requestId":{"type":"string","description":"null,"}}},"GwSubmitAnswerSheetResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"isGiveScore":{"type":"boolean","description":"null,"},"riskDesc":{"type":"string","description":"null,"},"riskLevel":{"type":"integer","format":"int64","description":"null,"},"riskLevelFlag":{"type":"integer","format":"int32","description":"null,"},"score":{"type":"integer","format":"int64","description":"null,"}}},"ResponseOfGwInvestResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwInvestResp"}}},"ResponseOfGwGetProcessingTipsResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetProcessingTipsResp"}}},"GwGetAccountBalancesReq":{"type":"object","properties":{"organizations":{"type":"array","description":"机构列表,","items":{"type":"string"}},"requestId":{"type":"string","description":"null,"}}},"GwGetArticleDetailResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"article":{"description":"资讯详情,","$ref":"#/definitions/ArticleInfo"}}},"GwUpdateUnreadLetterStatusByTypeResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"success":{"type":"boolean","example":false,"description":"修改成功,"}}},"GwGetInviterInfoReq":{"type":"object","properties":{"inviteCode":{"type":"string","description":"邀请码,"},"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwGetWealthIndexDataResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetWealthIndexDataResp"}}},"GwGetOrganizationsReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"ResponseOfGwRedeemResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwRedeemResp"}}},"ResponseOfGwActivityLotteryResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwActivityLotteryResp"}}},"GwGetLetterListByTypeReq":{"type":"object","properties":{"letterTypes":{"type":"array","description":"站内信的类型,","items":{"type":"integer","format":"int32"}},"pageIndex":{"type":"integer","format":"int32","description":"页码,最小值:1.0"},"pageSize":{"type":"integer","format":"int32","description":"每页显示数量,最小值:1.0"},"requestId":{"type":"string","description":"null,"}}},"GwGetMiniIndexDataReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"GwGetProductsReq":{"type":"object","required":["appKey","pageId"],"properties":{"appKey":{"type":"string","description":"appKey,不能为空,模式正则表达式:^\\w{8}$"},"moduleIds":{"type":"array","description":"模块Ids,","items":{"type":"integer","format":"int32"}},"pageCode":{"type":"string","description":"页面编码,"},"pageId":{"type":"integer","format":"int32","description":"pageId,不能为空"},"requestId":{"type":"string","description":"null,"}}},"GwLoginResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"customerId":{"type":"integer","format":"int32","description":"customerId给网关用的不能删,"},"deviceId":{"type":"string","description":"设备ID,"},"idCardNo":{"type":"string","description":"用户身份证号,"},"inviteCode":{"type":"string","description":"邀请码,"},"isNewHand":{"type":"boolean","example":false,"description":"新手标识,"},"isVerifyRealName":{"type":"boolean","example":false,"description":"是否已实名,"},"needVerifyCode":{"type":"boolean","example":false,"description":"是否需要发送验证码,"},"nickName":{"type":"string","description":"昵称,"},"phone":{"type":"string","description":"phoneNumber给网关用的不能删,"},"realName":{"type":"string","description":"用户姓名,"},"regNumber":{"type":"string","description":"注册号,"},"regTime":{"type":"integer","format":"int64","description":"注册时间,"},"userFeatures":{"type":"object","description":"用户维度集合,","additionalProperties":{"type":"string"}},"userRiskLevel":{"type":"integer","format":"int32","description":"用户风险测评等级,"},"userRiskLevelName":{"type":"string","description":"用户风险测评等级中文描述,"},"verifyType":{"type":"integer","format":"int32","description":"短信验证码验证场景,"}}},"GwStatsHoldAssetResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"holdAssetGroup":{"type":"array","description":"持有资产分组,","items":{"$ref":"#/definitions/AssetGroup"}},"investTips":{"type":"string","description":"处理中的申购文案,"},"redeemTips":{"type":"string","description":"赎回中的退出文案,"},"totalHoldAsset":{"type":"string","description":"持有资产总金额,"},"totalHoldAssetLabel":{"type":"string","description":"持有资产总金额文案,"},"totalIncome":{"type":"string","description":"累计收益,"},"totalIncomeLabel":{"type":"string","description":"累计收益文案,"}}},"GwCheckinStatusResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"chance":{"type":"integer","format":"int32","description":"剩余机会数量,"},"checkined":{"type":"boolean","example":false,"description":"今天是否已经签到,"},"continueCheckinScores":{"type":"array","description":"连续签到多少天对应的积分,","items":{"type":"integer","format":"int32"}},"continueDays":{"type":"integer","format":"int32","description":"连续签到的天数,"},"lastTime":{"type":"integer","format":"int64","description":"最后一次签到的时间, 标准时间戳,"},"lotteryId":{"type":"integer","format":"int32","description":"抽奖ID,"},"periodContinueDays":{"type":"integer","format":"int32","description":"周期连续签到的天数,"},"totalTimes":{"type":"integer","format":"int32","description":"累计签到的次数，不要求连续,"}}},"ResponseOfGwCheckinStatusResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwCheckinStatusResp"}}},"GwRegisterResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"autoLogin":{"type":"boolean","example":false,"description":"是否自动登录,"},"customerId":{"type":"integer","format":"int32","description":"customerId给网关用的不能删,"},"deviceId":{"type":"string","description":"设备ID,"},"headImageUrl":{"type":"string","description":"头像,"},"idCardNo":{"type":"string","description":"用户身份证号,"},"inviteCode":{"type":"string","description":"邀请码,"},"isNewHand":{"type":"boolean","example":false,"description":"新手标识,"},"isVerifyRealName":{"type":"boolean","example":false,"description":"是否已实名,"},"needVerifyCode":{"type":"boolean","example":false,"description":"是否需要发送验证码,"},"nickName":{"type":"string","description":"昵称,"},"phone":{"type":"string","description":"phoneNumber给网关用的不能删,"},"realName":{"type":"string","description":"用户姓名,"},"regNumber":{"type":"string","description":"注册号,"},"regTime":{"type":"integer","format":"int64","description":"注册时间,"},"status":{"type":"integer","format":"int32","description":"状态,"},"userFeatures":{"type":"object","description":"用户维度集合,","additionalProperties":{"type":"string"}},"userRiskLevel":{"type":"integer","format":"int32","description":"用户风险测评等级,"},"userRiskLevelName":{"type":"string","description":"用户风险测评等级中文描述,"},"verifyType":{"type":"integer","format":"int32","description":"短信验证码验证场景,"}}},"GwMissionListReq":{"type":"object","required":["limit"],"properties":{"limit":{"type":"integer","format":"int32","description":"条数,不能为空,最小值:0.0"},"requestId":{"type":"string","description":"null,"},"tab":{"type":"integer","format":"int32","description":"tab,"}}},"GwRegisterAccountModel":{"type":"object","properties":{"bankAccNo":{"type":"string","description":"银行二类户账号,"},"bankCardNo":{"type":"string","description":"银行卡号,"},"bankCode":{"type":"string","description":"绑定银行卡号,"},"bankPhone":{"type":"string","description":"银行卡预留手机号,"},"idCardEndDate":{"type":"string","description":"证件有效期至,"},"idCardNo":{"type":"string","description":"证件号码,"},"idCardSignOrg":{"type":"string","description":"证件签发机关,"},"idCardStartDate":{"type":"string","description":"证件有效期从,"},"idCardType":{"type":"integer","format":"int32","description":"证件类型,"},"images":{"type":"array","description":"证件照,","items":{"$ref":"#/definitions/GwImageInfoModel"}},"name":{"type":"string","description":"姓名,"}}},"ResponseOfGwGetArticleListResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetArticleListResp"}}},"ResponseOfGwSendSmsVerifyCodeResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwSendSmsVerifyCodeResp"}}},"ResponseOfGwGetRedeemRecordResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetRedeemRecordResp"}}},"GwLoginReq":{"type":"object","required":["verifyCode"],"properties":{"captchaId":{"type":"string","description":"滑动验证码Id,"},"mode":{"type":"integer","format":"int32","description":"登录方式: 0-常规密码登录(缺省） 1-验证码快速登录,"},"password":{"type":"string","description":"密码,"},"phone":{"type":"string","description":"手机号,"},"requestId":{"type":"string","description":"null,"},"sliderValidate":{"type":"string","description":"滑动验证码,"},"verifyCode":{"type":"string","description":"短信验证码,不能为空,模式正则表达式:^\\d{6}$"}}},"GwGetRelevantPrizesResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"subMissionRewardDTOList":{"type":"array","description":"子任务奖品列表,","items":{"$ref":"#/definitions/GwSubMissionRewardVO"}}}},"GwPageContent":{"type":"object","properties":{"content":{"type":"string","description":"内容,"},"name":{"type":"string","description":"内容名称,"}}},"ResponseOfCurrentTimeMillisResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/CurrentTimeMillisResp"}}},"ResponseOfGwGetMyPartnerResp":{"type":"object","properties":{"code":{"type":"integer","format":"int64","description":"状态码,"},"message":{"type":"string","description":"响应消息,"},"payload":{"description":"消息负载,","$ref":"#/definitions/GwGetMyPartnerResp"}}},"GwGetActivityInfoResp":{"type":"object","properties":{"accumulTotal":{"type":"boolean","example":false,"description":"是否需要显示累计数值,"},"act":{"type":"integer","format":"int32","description":"null,"},"beginDate":{"type":"string","description":"开始时间,"},"endDate":{"type":"string","description":"结束时间,"},"extend":{"description":"活动扩展内容,","$ref":"#/definitions/GwActivityModelExtend"},"id":{"type":"string","description":"活动Id,"},"key":{"type":"string","description":"活动key,"},"missions":{"type":"array","description":"任务,","items":{"$ref":"#/definitions/GwMissionModel"}},"templateType":{"type":"integer","format":"int32","description":"活动模板类型,"},"title":{"type":"string","description":"标题,"}}},"GwGetArticleListResp":{"type":"object","properties":{"act":{"type":"integer","format":"int32","description":"null,"},"articleList":{"type":"array","description":"资讯列表,","items":{"$ref":"#/definitions/ArticleInfo"}}}},"GwGetLetterTypeListReq":{"type":"object","properties":{"requestId":{"type":"string","description":"null,"}}},"GwMissionGiftPackageDTO":{"type":"object","properties":{"desc":{"type":"string","description":"礼包描述,"},"id":{"type":"string","description":"礼包id,"},"imgUrl":{"type":"string","description":"礼包图片,"},"name":{"type":"string","description":"礼包名称,"},"prizeRange":{"type":"integer","format":"int32","description":"礼包范围,"},"prizeType":{"type":"integer","format":"int32","description":"奖品类型,"},"rewardArgs":{"type":"string"
[...]
